.auth {
  width: 612px;
  margin: 0 auto;
  .item {
    margin-top: 10px;
    width: 800px;
  }
  input,
  select {
    width: 500px;
    height: 24px;
  }
  button {
    margin-top: 10px;
    width: 80px;
    height: 30px;
  }
}
.header {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    width: 480px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
  }
  button {
    margin-left: 10px;
    width: 120px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
  }
}
.content {
  /** 实现内容垂直居中 **/
  width: 612px;
  height: 400px;
  overflow-y: auto;
  border: 1px solid black;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  white-space: pre-wrap;
}
