# should be optimize as increment build & test
name: CI
on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  build:
    strategy:
      matrix:
        include:
          - NodeVersion: 20.9.x
            NodeVersionDisplayName: 20
            OS: ubuntu-latest
    name: Node.js v${{ matrix.NodeVersionDisplayName }} (${{ matrix.OS }})
    runs-on: ${{ matrix.OS }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Config Git User
        # should be turn to ci user
        run: |
          git config --local user.name "tecvan"
          git config --local user.email "fanwenjie.fe@bytedance.com"

      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.NodeVersion }}

      - name: Install Dependencies
        run: node common/scripts/install-run-rush.js install

      - name: Build
        run: node common/scripts/install-run-rush.js build --verbose

      - name: Test:cov
        run: node common/scripts/install-run-rush.js test:cov --verbose

      # - name: Get coverage files
      #   id: coverage_files
      #   run: |
      #     files=$(find packages -name "coverage-final.json" | tr '\n' ',' | sed 's/,$//')
      #     echo "files=$files" >> "$GITHUB_OUTPUT"

      - name: Upload coverage reports
        uses: codecov/codecov-action@v4
        with:
          # files: ${{ steps.coverage_files.outputs.files }}
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: unittests
          fail_ci_if_error: true
          verbose: true

      - name: Lint
        # for current stage, we got so much lint error, so we have to ignore it
        # TODO: it should be fixed ASAP
        continue-on-error: true
        run: node common/scripts/install-run-rush.js lint --verbose
